<h2>error page</h2>
<div><img src={{image}} alt="user-img" class="img-circle"></div>
<!--<a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{name}} <span class="caret"></span></a>-->
<!--<a  style="color:red" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Logout</a>-->