<!-- Page Content -->
<!--<div id="page-wrapper" ng-controller="userCtrl">-->
<!--<h2>HI inb user details</h2>-->
    <!--&lt;!&ndash; /.container-fluid &ndash;&gt;-->
    <!--<footer class="footer text-center"> 2017 &copy; Elite Admin brought to you by themedesigner.in </footer>-->
<!--</div>-->
<div id="page-wrapper" ng-controller="userCtrl">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">User Details</h4>
            </div>
            <!--<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12 actions">-->
                <!--<div class="in pull-right">-->
                    <!--<form role="search" class="app-search hidden-xs">-->
                        <!--<input type="text" placeholder="Search..." class="form-control">-->
                        <!--<a href=""><i class="fa fa-search"></i></a>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
            <!-- /.col-lg-12 -->
        </div>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            .w3-button {width:75px;height:45px}
        </style>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box col-md-12">
                    <div class="col-md-4">
                        <h3 class="box-title m-b-0">user</h3>
                        <p class="text-muted m-b-30">Details</p>

                    </div>

                    <div class="col-md-8 actions">
                        <div class="row">


                                <div class="col-md-5">
                                    <!--<input type="date" class="complex-colorpicker form-control mydatepicker" ng-model="fromDt" ng-change="showDate()">-->
                                    <!--<input type="text" class="form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy">-->

                                    <div class="input-group">
                                        <input type="date" class="complex-colorpicker form-control mydatepicker" ng-model="fromDt">
                                        <span class="input-group-addon"><i class="icon-calender"></i></span>
                                    </div>

                                </div>
                            <div class="col-md-1 text-center">
                                <label>To</label>
                            </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="date" class="complex-colorpicker form-control mydatepicker" ng-model="toDt" >
                                    <!--<input type="text" class="form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy">-->
                                    <span class="input-group-addon"><i class="icon-calender"></i></span>
                                </div>
                                </div>
                                <div class="col-md-2">
                                    <input class="btn btn-default" type="submit" value="submit" ng-click="showDate()">
                                </div>
                            </div>

                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive" ng-show="userdata.length > 0">
                            <table id="userTable" class="dataTable table table-striped">
                                <thead>
                                <tr>
                                    <th><b>Username</b></th>
                                    <th ><b>Email</b></th>
                                    <th><b>Gender</b></th>
                                    <th><b>Date</b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in userdata">
                                    <td>{{data.name}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.gender}}</td>
                                    <td>{{data.cdate}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="userdata.length === 0"> No Records Found</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .right-sidebar -->
        <div class="right-sidebar hide">
            <div class="slimscrollright">
                <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                <div class="r-panel-body">
                    <ul>
                        <li><b>Layout Options</b></li>
                        <li>
                            <div class="checkbox checkbox-info">
                                <input id="checkbox1" type="checkbox" class="fxhdr" checked>
                                <label for="checkbox1"> Fix Header </label>
                            </div>
                        </li>
                    </ul>
                    <ul id="themecolors" class="m-t-20">
                        <li><b>With Light sidebar</b></li>
                        <li><a href="javascript:void(0)" theme="default" class="default-theme">1</a></li>
                        <li><a href="javascript:void(0)" theme="green" class="green-theme">2</a></li>
                        <li><a href="javascript:void(0)" theme="gray" class="yellow-theme">3</a></li>
                        <li><a href="javascript:void(0)" theme="blue" class="blue-theme working">4</a></li>
                        <li><a href="javascript:void(0)" theme="purple" class="purple-theme">5</a></li>
                        <li><a href="javascript:void(0)" theme="megna" class="megna-theme">6</a></li>
                        <li><b>With Dark sidebar</b></li>
                        <br/>
                        <li><a href="javascript:void(0)" theme="default-dark" class="default-dark-theme">7</a></li>
                        <li><a href="javascript:void(0)" theme="green-dark" class="green-dark-theme">8</a></li>
                        <li><a href="javascript:void(0)" theme="gray-dark" class="yellow-dark-theme">9</a></li>
                        <li><a href="javascript:void(0)" theme="blue-dark" class="blue-dark-theme">10</a></li>
                        <li><a href="javascript:void(0)" theme="purple-dark" class="purple-dark-theme">11</a></li>
                        <li><a href="javascript:void(0)" theme="megna-dark" class="megna-dark-theme">12</a></li>
                    </ul>
                    <ul class="m-t-20 chatonline">
                        <li><b>Chat option</b></li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.right-sidebar -->
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2017 &copy; Elite Admin brought to you by themedesigner.in </footer>
</div>
<!-- /#page-wrapper -->



