@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,300,600,700);
/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/2fCJtbhSlhNNa6S2xlh9GyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/UGh2YG8gx86rRGiAZYIbVyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*For Laptop (1280px)*/
@media (max-width: 1350px) {
  .carousel .item h3 {
    font-size: 17px;
    height: 90px;
  }
  .inbox-center a {
    width: 400px;
  }
}
/*Small Desktop*/
@media (min-width: 1024px) {
  .app-search .form-control:focus {
    width: 300px;
  }
}
/*Ipad*/
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0px;
  }
  .navbar-default {
    position: relative;
    width: 100%;
    top: 0px;
  }
  .fix-header .navbar-static-top {
    position: fixed;
  }
  .fix-header .sidebar {
    padding-top: 60px;
  }
  .sidebar {
    z-index: 10;
    position: relative;
    width: 100%;
  }
  .sidebar .nav-second-level {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  .sidebar #side-menu > li:hover a {
    background: #f7fafc;
  }
  #wrapper.fix-top .sidebar {
    position: fixed;
    top: 0px;
    transition: 0.5s ease-in;
  }
  #wrapper.fix-top #page-wrapper {
    padding-top: 95px;
  }
  /*If body has content-wrapper*/
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
  .mail_listing {
    border-left: 1px solid rgba(120, 130, 140, 0.13);
    padding-left: 20px;
  }
  .inbox-panel {
    padding-right: 20px;
  }
  .top-minus {
    margin-top: -62px;
    float: right;
  }
  .fix-sidebar.content-wrapper .navbar-left,
  .content-wrapper.fix-sidebar .navbar-left {
    margin-left: 60px!important;
  }
  .fix-sidebar.content-wrapper .sidebar,
  .content-wrapper.fix-sidebar .sidebar {
    position: absolute;
  }
  .lobipanel .panel-heading .dropdown .dropdown-menu > li > a {
    color: #ffffff;
  }
}
@media (max-width: 1024px) {
  .b-r-none {
    border-right: 0px;
  }
  .carousel-inner h3 {
    height: 90px;
    overflow: hidden;
  }
  .inbox-center a {
    width: 300px;
  }
}
/*Phone*/
@media (max-width: 767px) {
  .navbar-top-links {
    display: inline-block;
  }
  .navbar-top-links .profile-pic img {
    margin-right: 0px;
  }
  .top-left-part {
    width: 60px;
  }
  .navbar-top-links li:last-child {
    margin-right: 0px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    width: 260px;
  }
  .row-in-br {
    border-right: 0px;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  }
  .bg-title .breadcrumb {
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  /*Timeline*/
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
  }
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .wizard-steps > li {
    display: block;
  }
  .dropdown .mailbox,
  .dropdown .dropdown-tasks {
    left: -94px;
  }
  /***** Start Update 1.5 *****/
  .fix-header .navbar-static-top {
    position: fixed;
    top: 0px;
    width: 100%;
  }
  .fix-header #page-wrapper {
    margin-top: 60px;
  }
  .fix-header .sidebar {
    position: fixed;
    height: 350px;
    top: 60px;
    z-index: 100;
    overflow: auto!important;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
  }
  .mega-dropdown-menu {
    height: 340px;
    overflow: auto;
  }
  .left-aside {
    position: relative;
    width: 100%;
    border: 0px;
  }
  .right-aside {
    margin-left: 0px;
  }
  .chat-main-box .chat-left-aside {
    left: -250px;
    transition: 0.5s ease-in;
    background: #ffffff;
  }
  .chat-main-box .chat-left-aside.open-pnl {
    left: 0px;
  }
  .chat-main-box .chat-left-aside .open-panel {
    display: block;
  }
  .chat-main-box .chat-right-aside {
    margin: 0px;
  }
  /***** Close Update 1.5 *****/
  .table-responsive.pro-rd {
    border: none;
  }
  .step-register,
  .login-register,
  #msform fieldset {
    position: relative;
  }
}
@media (max-width: 480px) {
  .vtabs .tabs-vertical {
    width: auto;
  }
  .stat-item {
    padding-right: 0px;
  }
  .login-box {
    width: 100%;
  }
  .pro-content .pro-list-details {
    height: 100px;
    border-right: none;
  }
  .pro-list-info ul.pro-info li {
    padding: 10px 0 10px 0;
  }
  .pro-list-info ul.pro-info {
    padding-left: 0;
  }
  .pro-agent .agent-img {
    padding-top: 3px;
  }
  .pro-agent .agent-name {
    padding: 2px 0 10px 15px;
  }
}
@media (max-width: 991px) {
  .line-steps .step-title:after,
  .line-steps .step-title:before {
    content: none;
  }
  .numbered-bg .step-info,
  .numbered-bg .step-title {
    padding-right: 0;
  }
}
